:root {
  --color-primary: #aee6b5;
  --color-secondary: #2b3e50;
  --color-one: #5ec576;
  --color-two: #ffcb03;
  --color-three: #ff585f;

  --color-primary-lighter: #d5f2d9;
  --color-secondary-lighter: #4f7192;

  --color-one-darker: #4bbb7d;
  --color-two-darker: #ffbb00;
  --color-three-darker: #fd424b;

  --color-one-opacity: #5ec5763a;
  --color-two-opacity: #ffcd0331;
  --color-three-opacity: #ff58602d;

  --color-primary-rgba: rgba(174, 230, 181, 0.95);
  --color-primary-rgba-two: rgba(174, 230, 181, 0.5);
  --color-primary-rgba-three: rgba(174, 230, 181, 0.2);

  --gradient-first: linear-gradient(
    to top left,
    var(--color-one),
    var(--color-two)
  );
}
