/* HEADER */
.c-header {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__area {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__squares {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__squares li {
        position: absolute;
        display: block;
        list-style: none;
        width: 3rem;
        height: 3rem;
        animation: object-rotation 25s linear infinite;

        bottom: -150px;
    }

    @for $i from 1 through 6 {
        $position: $i * 12 + #{'%'};
        $size: 3 * $i + rem;
        $delay: 1 * $i + s;
        $duration: calc(30 / $i) + s;

        &__squares li:nth-child(#{$i}) {
            left: $position;
            width: $size;
            height: $size;
            animation-delay: $delay;
            animation-duration: $duration;
        }
    }

    @for $i from 1 through 6 {
        $position: calc(80 / $i) + #{'%'};
        $size: 2 * $i + rem;
        $delay: 2 * $i + s;
        $duration: 5 * $i + s;

        &__squares li:nth-child(#{$i + 6}) {
            left: $position;
            width: $size;
            height: $size;
            animation-delay: $delay;
            animation-duration: $duration;
        }
    }

    &__title {
        flex: 1;

        max-width: 115rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto inherit auto auto;
        row-gap: 3rem;
        align-content: center;
        justify-content: center;

        align-items: start;
        justify-items: start;

        animation: revealing 1.5s cubic-bezier(0.25, 1, 0.5, 1);

        @include MQ(S) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
        }

        @include MQ(M) {
            white-space: nowrap;
        }
    }

    &__img {
        display: inline;
        width: 70%;
        height: auto;
        grid-row: 2;
        margin: 0 auto;
        border-radius: 50%;
        border: 0.25rem solid $color-brand;

        @include MQ(S) {
            grid-row: 1 / span 3;
            grid-column: 2;
        }
    }
}

.text__gradient {
    background: $gradient-first;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight {
    position: relative;
    z-index: 10;
    color: $color-bg;

    &::after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.7;
        transform: scale(1.05, 1.5) skewX(-3deg) skewY(3deg);
        background-image: $gradient-first;
    }
}
