/* SKILLS */
.c-skills {
    max-width: 100rem;
    margin: 12rem auto 0 auto;

    background-color: $color-bg;

    &__tab-container {
        display: flex;
        justify-content: center;
    }

    &__tab {
        margin-right: 2.5rem;
        transform: translateY(-70%);
        box-shadow: 0rem 1rem $color-brand;
    }

    &__tab span {
        margin-right: 1rem;
        font-weight: 600;
        display: inline-block;
    }

    &__tab--1 {
        background-color: $color-dos;
    }

    &__tab--1:hover {
        background-color: $color-dos-dark;
    }

    &__tab--3 {
        background-color: $color-tres;
        margin: 0;
    }

    &__tab--3:hover {
        background-color: $color-tres-dark;
    }

    &__tab--active {
        transform: translateY(-50%);
        box-shadow: 0rem 0.2rem $color-bg-light;
    }

    &__content {
        display: none;

        font-size: 1.7rem;
        padding: 2.5rem 2.5rem 6.5rem 2.5rem;
    }

    &__content--active {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;

        @include MQ(S) {
            grid-template-columns: 1fr 9fr;
            column-gap: 2rem;
        }
    }

    &__header {
        font-size: 2.25rem;
        font-weight: 500;
        align-self: center;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
    }

    &__content p {
        grid-column: 1;

        @include MQ(S) {
            grid-column: 2;
        }
    }

    &__icon--1 {
        background: $color-dos-opacity;
        color: $color-dos;
    }
    &__icon--2 {
        background: $color-uno-opacity;
        color: $color-uno;
    }
    &__icon--3 {
        background: $color-tres-opacity;
        color: $color-tres;
    }

    &__images {
        background: $color-primary-rgba-three;
        margin-top: 2rem;
        padding: 1rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
        row-gap: 2rem;
        column-gap: 2rem;

        border-radius: 1rem;

        @include MQ(S) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__images img {
        height: 10rem;
        width: auto;
    }
}
